body {
 background-color:#FFF;
 }
 
.header h1.title {
font-size:2.5em;
padding-bottom:0em;
margin-bottom:0em;
}

.header h1 a {
/*color:white;*/
}

.header h1 a:hover {
text-decoration: none;
}

.list-inline-item{
font-size:0.9em;
border: 0px solid black;
padding: 0em 1em 0em 0.0em;
}

.list-inline-item a{
/*color:white;*/
}

.list-inline-item a:hover{
/*color:white;*/
color:#22A6c7;
text-decoration: none;
padding-bottom:0.5em;
border-bottom:3px solid #1372CE;
border-bottom:3px solid #22A6c7;
}

p.text-muted {
/*color:#CCC !important*/
}